.footer {
  background-color: #26282C;
  &__main-content {
    background-color: #26282C;
    padding: 48px 0 32px;
  }
  &__title {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
  }
  .last-word {
    text-align: center;
  }
  &__mid-content {
    .list-group > li > a {
      color: white;
    }
    gap: 58px;
    .list-group-item {
      opacity: 0.7;
      font-size: $font-sm;
    }
  }
  &__right-side {
    a {
      margin-left: 21%;
    }
    label {
      display: none;
    }
  }
    .list-group {
      margin-top: 16px;
      list-style: none;
      .list-group-item {
        background-color: transparent;
        color: #FFFFFf;
        border: none;
      }
    }
  &__list-content {
    gap: 44px;
  }


  &__second {
    padding: 12px 0 12px;
    background-color: black;
  }
  &__location {
    gap: 10px;
  }
  &__location-point {
    margin-top: 16px;
    gap: 16px;
    figure {
      margin-top: 5px;
    }
    address {
      color: #ffffff;
      max-width: 172px;
      font-size: $font-sm;
      opacity: 0.7;
    }
  }
  &__form-email-send {
    input {
      &:focus {
        padding-left: 20px;
      }
    }
  }
  &__phone-point {
    gap: 16px;
    a {
      color: #FFFFFF;
      opacity: 0.7;
    }
  }

  &__email-point {
    margin-top: 16px;
    gap: 16px;
    p {
      color: #FFFFFF;
      opacity: 0.7;
    }
  }

  &__made-france {
    margin-top: 26px;
  }

  &__email-input {
    margin-top: 20px;
    background-color: #26282C;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 0;
    color: white;
    width: 80%;
    font-size: $font-sm;
    &::placeholder {
      text-align: center;
    }
  }
  &__lang-select {
    background-color: transparent;
    border-radius: 20px;
    width: 80%;
    padding: 10px 0;
    font-size: $font-sm;
  }
  &__container-networks {
    margin-top: 32px;
    gap: 4px;
    a {
      margin: 0;
    }
  }
  &__bottom-left {
    gap: 10px;
  }
  &__trademarks {
    color: #FFFFFF;
    opacity: 0.7;
  }
  &__bottom-right {
    background-color: transparent;
  }
  &__email-point  {
    #mail-link {
      color: white !important;
    }
  }
}