@media (max-width: 1400px) {
  .products {
    &__card {
      width: 100%;
    }
    &__image-card {
      margin-left: 0;
    }
  }
}

@media (max-width: 992px) {
  .products {
    .container {
      margin: 0 !important;
      padding: 0 !important;
      max-width: 900px;
    }
    &__card {
      width: 90%;
    }
  }
}

@media (max-width: 580px) {
  .products {
    &__wrapper {
      flex-direction: column !important;
      align-items: center;
    }
    &__line-card {
      width: 69%;
      margin-bottom: 14px;
    }
  }
}

@media (max-width: 498px) {
  .products {
    &__option-selector {
      flex-direction: column !important;
      align-items: center !important;
      margin: 0 auto !important;
    }
    .col-6 {
      flex-direction: column !important;
      margin: 0 auto;
      .dropdown {
        margin: 10px auto;
      }
    }
    &__back-push {
      margin: 10px 0;
    }
    &__next-push {
      margin: 10px 0;
    }
    &__page-select {
      width: 68%;
    }
    &__text-info {
      margin: 10px 0;
    }
  }
}
