.products {
  background-color: $main-bg;
  padding-top: 16px;
  margin-bottom: 58px;

  &__content-products {
    flex-direction: column;
    gap: 10px;
  }

  &__line-card {
    width: calc(100%/3);
    margin-bottom: 14px;
  }

  &__card {
    width: 20rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    border: none;
    position: relative;
    overflow: hidden;
    &:hover {
      /*
      color: $accent-color;
      */
      box-shadow: 5px 5px 10px -1px $accent-color;
      transition: .5s;
      /*
      .card-body:hover {
        color: $accent-color;
      }

       */
    }
  }
  &__image-card {
    margin-left: 18px;
    width: 100%;
    max-width: 282px;
    max-height: 291px;
  }
  &__wrapper-image-card {
    animation-name: reverse;
    animation-duration: 1s;
    &:hover {
      animation-name: myanimation ;
      /*
      transform: translateX(-100%);
       */
      transition-duration: 2s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes myanimation {
    from {
      transform: none;
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes reverse {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: none;
    }
  }

  .card-body {
    text-align: center;
    h5 {
      font-weight: $font-weight-reg;
      font-size: 17px;
    }

  }

    &__list-butt {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #E2E2E2;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: $font-weight-reg;
    }

    &__back-push {
      border-radius: 20px;
      padding: 5px 30px;
    }
  &__next-push {
    border-radius: 20px;
    padding: 5px 30px;
    background-color: $accent-color;
    border: none;
  }
  &__text-info {
    margin: 0 14px;
  }

    &__page-select {
      border-radius: 20px;
      width: 14%;
      text-align: center;
      &::placeholder {
        text-align: center;
      }
    }

}