@media (max-width: 1200px) {
  .wall {
    &__search-area {
      width: 90%;
    }
  }
}

@media (max-width: 1200px) {
  .wall {


    &__search-area {
      width: 90%;
    }
  }
}

@media (max-width: 992px) {
  .wall {
    .row {
      flex-direction: column;
    }
    .col-3 {
      width: 100%;
    }
    .col-9 {
      margin: 0 auto;
    }
    .dropdown {
      display: flex;
      justify-content: center;
    }

    &__search-area {
      width: 100%;
    }
  }
}