.wall {
  background-color: #F4F4F4;
  padding-top: 10px;

  .breadcrumb-item a {
    font-size: $font-sm;
    color: #43464C;
  }

  &__select-page {
    color: #73962C;
    svg {
      margin-left: 3px;
    }
  }

  &__second-line {
    margin-left: 3px;
  }

  &__line-breadcrumb {
    color: #BDBDBE;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    content: "";
  }

  &__title {
    font-size: 28px;
    font-weight: $font-weight-reg;
    color: #17181A;
  }

  &__title {
    margin-top: 5px;
  }

  &__select-wall {
    background-color: white;
  }
 .dropdown .btn-secondary {
   margin-top: 37px;
   background-color: white;
   color: black;
   border-radius: 20px;
   border: 1px solid white;
   font-size: $font-md;
   padding: 11px 24px;
 }

  .dropdown-toggle::after {
    margin-left: 78px;
  }

  &__search-container {
    margin-top: 28px;
  }
  &__search-area {
    width: 100%;
    background-color: white;
    padding: 11px 40px;
    border-radius: 20px;
    .form-control {
      border: none;
      outline: none;
    }
    .btn {
      margin-right: -35px;
      border: none;
      &:hover {
        background-color: white;
      }
    }
  }
}