@import "variables";

body {
  font-size: $font-md;
  font-weight: $font-family-main;
  font-family: $font-family-main;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: $accent-color;
    transition: $main-transition;
  }
}